* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e67e22;
}

p {
  font-size: 1.5em;
  margin: 0.5em;
}

/*buttons */
button {
  display: flex;
  margin: 0 auto;
  padding: 20px;
  border: 0;
  border-radius: 50px;
  font-size: 1.6em;
  background-color: white;
  cursor: pointer;
  overflow: hidden;
}

button:hover {
  background-color: #5f27cd;
  color: white;
}

/* icons styling */
.rocket {
  display: block;
  width: 60px;
  height: 34px;
  margin-left: 20px;
  background: url(https://cdn.glitch.com/fe55c52b-f859-4f17-a4c6-1af45426e959%2Frocket.png?v=1620489294028) right center no-repeat;
  background-size: 60px;
}

.confeti {
  display: inline-flex;
  width: 59px;
  height: 59px;
  margin-left: 20px;
  background: url(images/confeti.gif) right center no-repeat;
  background-size: 60px;
}

.icon {
  display: block;
  width: 60px;
  height: 60px;
  margin-left: 20px;
}

/*game board and cards*/
.game-board {
  padding: 25px;
  border-radius: 10px;
  background: #f8f8f8;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.cards,
.card,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards {
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards .card {
  cursor: pointer;
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  width: calc(100% / 4 - 10px);
}

.card .view {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.25s linear;
}

.card .front-view img {
  width: 19px;
}

.card .back-view img {
  max-width: 45px;
}

.card.flip .back-view {
  transform: rotateY(0);
}

.card .back-view {
  transform: rotateY(-180deg);
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-13px);
  }

  40% {
    transform: translateX(13px);
  }

  60% {
    transform: translateX(-8px);
  }

  80% {
    transform: translateX(8px);
  }
}

.card.shake {
  animation: shake 0.35s ease-in-out;
}

@media screen and (max-width: 700px) {
  .cards {
    height: 350px;
    width: 350px;
  }

  .card .front-view img {
    width: 17px;
  }

  .card .back-view img {
    max-width: 40px;
  }
}

@media screen and (max-width: 530px) {
  .cards {
    height: 300px;
    width: 300px;
  }

  .card .front-view img {
    width: 15px;
  }

  .card .back-view img {
    max-width: 35px;
  }
}

/*for hiding divs*/
.hidden {
  display: none;
}

/* ending game */
#end {
  margin: 1em 0;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.congrats {
  font-size: 2em;
  margin: 1em 0;
  padding: 12px;
  border-radius: 9px;
  text-align: center;
  background-color: #eabfff;
}

/*welcome page*/
.welcoming-text {
  display: inline-flex;
  background-color: #5f27cd;
  align-items: center;
  border-radius: 9px;
  color: #fff;
  margin-bottom: 2em;
  padding: 12px;
}

/*score board*/
.prize {
  width: 64px;
  height: 64px;
  position: absolute;
}

#prize1 {
  top: 12px;
  right: 190px;
}

#prize2 {
  top: 12px;
  right: 100px;
}

#prize3 {
  top: 12px;
  right: 12px;
}

.gray-scale {
  filter: grayscale(100%);
}

/*popup*/
#question {
  position: absolute;
  left: 12px;
  top: 12px;
}

/* The actual popup */
.popuptext {
  visibility: hidden;
  width: 20%;
  background-color: #fff;
  color: #555;
  text-align: center;
  border-radius: 6px;
  padding: 50px 0;
  position: absolute;
  z-index: 1;
  top: 12px;
  left: 12px;
}

@media only screen and (max-width: 768px) {

  /* For mobile phones and ipad: */
  .popuptext {
    width: 95%;
  }

}

/* Toggle this class - hide and show the popup */
.show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.score-board-info-list-item {
  padding: 1em;
}

.close {
  position: absolute;
  cursor: pointer;
  right: 4px;
  bottom: 0px;
  padding: 0px 10px;
  color: black;
  border-radius: 50%;
  border: 2px solid black;
}

.close:hover {
  background-color: #111;
  color: white;
}

ul {
  list-style-type: none;
}


/*timer*/

#timer {
  width: 20%;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: px 0;
  position: absolute;
  top: 20%;
  right: 40%;
  font-size: 20px;
}